
*{
	box-sizing: border-box;
}
/*부모박스안에 자식박스가 일정하게 있을때는 패딩을 이용한 방법이 더 간편하다*/

/*패딩을이용한방법*/
.box1{
	height: 300px;
	border: 1px solid black;
	padding: 20px;
}
.box2{
	height: 100%; 
	border: 1px solid black;
}
/*박스의 가로 = 왼쪽테두리의 굵기 +오른쪽테두리의 굵기 + 왼쪽패딩 + 오른쪽패딩+컨텐츠의 가로

box-sizing : border-box;를 사용하기 전
width : 컨텐츠의 가로

box-sizing : border-box;를 사용한 후 
width : 박스의 가로 
*/

/*마진을이용한방법*/
.box3{
	height: 300px;
	border: 1px solid black;
	
}
.box4{
	margin: 20px;
	height: calc(100% - 20px *2);
	border: 1px solid black;
}
