.container{
height: 500px;
margin: 50px 0 0 0;
border: 1px solid black;
position: relative;
/*absolute할때 부모가 아니어도 기준에 따라 relative를 넣어주면 된다*/
}
.abs-box{
	position: absolute;
	height: 100px;
	border: 1px solid black;
	width: 100px;
	top: 10px;
	left: 10px;
}