*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	
}
.box1{
height: 400px;
width: 400px;
border: 3px solid yellow;
padding: 10px;
}
.box2{
float: left;
width: calc(50% - 5px);
height: 100%;
border: 3px solid red;

}
.box3{
	
	float: right;
	width: calc(50% - 5px);
	height: 100%;
	border: 3px solid blue;
	
	}