div{
	width: 500px;
	height: 500px;
	border: 1px solid black;
	/*위아래 마진은 0으로 좌우 마진은 auto로 설정하면
	auto에 의해 상자가 가운데로 간다 
	만약에 화면의 가로길이가 500px보다 작으면 마진은 생기지 않는다*/
	/*margin: 0 auto;*/ /*화면을 가운데로 놓고 싶을 때 */
	margin:calc(50vh - 251px) calc(50% - 251px);
	/*상자의크기 500에 마진이1이니까 좌우 502가 되는데 반으로 나누니까 251*/
}