div{
	position: absolute;
	/* width: 300px;
	height: 300px; 
	top: 100vh;*/
	top: 0vh;
	left: 50px;
	right: 50px;
	bottom:0px;/*크기에 따라 가로의 길이가 달라질 수있다?*/
}
body{
	height: 200vh; 
	margin: 0px;
}
button{
	position: fixed;/*브라우저화면에 고정*/
	width: 50px;
	height: 50px;
	bottom: 10px;
	right:10px;

}